@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 28px;
    place-content: center;
}

.product-card {
    width: 240px;
    justify-self: center;
}

.product-card div {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-card div p:nth-child(2) {
    color: var(--Very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
}

.info {
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0;
}

.products-img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 640px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 20px;
    }
    .product-card {
        width: 140px;
    }
    .products-img {
        width: 140px;
        height: 140px;
    }
}