@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.title_container {
    display: flex;
}

.title_container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.product-detail {
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--Text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--sm);
    color: var(--Very-light-pink);
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--Very-light-pink);
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.primary-button {
    background-color: var(--Hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--White);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

@media (max-width: 640px) {
    .product-detail {
        width: 100%;
    }
}