@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 24px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--Black);
    font-weight: bold;
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}

.sign-out {
    font-size: var(--sm);
    color: var(--Hospital-green) !important;
}