@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.menu {
    width: 100px;
    height: auto;
    border: 1px solid var(--Very-light-pink);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    text-align: end;
}

.menu ul li:nth-child(1),
.menu ul li:nth-child(2) {
    font-weight: bold;
}

.menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--Very-light-pink);
}

.menu ul li:last-child a {
    color: var(--Hospital-green);
    font-size: var(--sm);
}

.menu ul li a {
    display: inline-block;
    color: var(--Black);
    text-decoration: none;
    margin-bottom: 20px;
}