@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--Very-light-pink);
    font-weight: 300;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

input {
    background-color: var(--Text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.primary-button {
    background-color: var(--Hospital-green);
    border-radius: 8px;
    color: var(--White);
    border: none;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    font-size: var(--md);
}

.login-button {
    margin-top: 16px;
    margin-bottom: 32px;
}

.form a {
    font-size: var(--sm);
    color: var(--Hospital-green);
    text-decoration: none;
    margin-bottom: 52px;
    text-align: center;
}

@media (max-width: 640px) {
    .logo {
        display: block;
    }
}