@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --Very-light-pink: #C7C7C7;
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.nav_left {
    display: flex;
}

.nav_left ul li a,
.nav_right ul li a {
    text-decoration: none;
    border: 1px solid var(--White);
    color: var(--Very-light-pink);
    padding: 8px;
    border-radius: 8px;
}

ul {
    margin-left: 12px;
}

.nav_left ul li a:hover,
.nav_right ul li a:hover {
    text-decoration: none;
    border: 1px solid var(--Hospital-green);
    color: var(--Hospital-green);
}

.nav_left ul,
.nav_right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-email {
    color: var(--Very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}

.nav_cart {
    position: relative;
}

.nav_cart div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: var(--sm);
    background-color: var(--Hospital-green);
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: -4px;
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .nav_left ul {
        display: none;
    }
    .nav_email {
        display: none;
    }
}